:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --third-bg-color: #f5f4fa;
    --primary-bth-hover-color: #188CE8;
    --icon-color-customers: #AFB1B8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}


/* ==================== UTILITIES =====================*/

.container {
    margin: 0 auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    outline: none;
}

.address {
    font-style: normal;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* ==================== END UTILITIES===================== */

/* ==================== BUTTON =========================== */

.button {
    color: var(--title-text-color);
    background-color: var(--third-bg-color);

    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

}


.button.primary:hover,
.button.primary:focus {
    background-color: var(--primary-bth-hover-color);

}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===================== END BUTTON =================== */

/* ===================== HEADER ======================= */

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header .container {
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav .logo {
    margin-right: 93px;
}

/* ================= logo ================= */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo .color {
    color: var(--title-text-color);
}

/* ================= END LOGO ================= */

/* =============== SITE NAV =================== */

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact.list .item {
    position: relative;
}

.main-nav .link {
    position: relative;
}

.link.current::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    /* top: 100%;
    left: 0; */
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 25px;
}

/* === END SITE NAV ===  */

/* === CONTACT ==== */

.contact {
    display: flex;
    align-items: center;
}

.contact .item:not(:last-child) {
    margin-right: 50px;
}

.contact .link {
    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.contact {
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link.mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .mail.icon {
    margin-right: 10px;
}

.contact .link.tel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .tel.icon {
    margin-right: 10px;
}

.icon {
    fill: var(--primary-text-color);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

.contact .link:hover .icon,
.contact .link:focus .icon {
    fill: var(--accent-color);
}


/* ======================= END HEADER =================== */

/* ======================= HERO ========================= */

.hero {
    max-width: 1600px;
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../images/img-overlay.png"),
        url("../images/hero-bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-bottom: 30px;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* ====================== END HERO ====================== */

/* ====================== FEATURE ======================= */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

/* common item */

.feature-list .item {
    width: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

/* end common item */

.feature-list .title {
    margin-bottom: 10px;
    color: var(--title-text-color);

    width: 270px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-icon {
    display: flex;
    font-weight: wrap;
    margin-top: -30px;
    margin-left: -30px;
    margin-bottom: 30px;
}

.feature-icon .item {
    width: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.feature-icon .item {
    padding: 25px 100px;
    background-color: var(--third-bg-color);
    border-radius: 4px;
}

.feature-icon .feature.icon {
    width: 70px;
    height: 70px;
}

/* ====================== END FEATURE ===================== */

/* ====================== WORK ============================ */

.section.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.work-list .item {
    width: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.section-title.work {
    margin-bottom: 50px;
}

.work-list .item {
    position: relative;
}

.work-description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    line-height: 1.14;
    text-transform: uppercase;

}

/* ======================= END WORK ======================= */

/* ======================= OUR TEAM ======================= */

.section.team {
    background-color: var(--third-bg-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.team-list .item {
    width: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.team-list .item {
    background-color: var(--primary-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.container-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .section-title {
    margin-bottom: 50px;
}

.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
    text-align: center;
}

.team-list .section-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.our-team-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.our-team-social .logo-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.our-team.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social .icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-text-color);
}

.our-team .link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.our-team-social .our-team.link:hover,
.our-team-social .our-team.link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.our-team-social .our-team.link:hover .icon,
.our-team-social .our-team.link:focus .icon {
    fill: var(--primary-white-color);
}

/* ==================== END OUR TEAM =================== */

/* ==================== REGULAR CUSTOMERS ============== */

.customers .section-title {
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .item {
    width: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid var(--icon-color-customers);
    border-radius: 4px;
}

.customers-list .customers-link:hover,
.customers-list .customers-link:focus {
    border: 1px solid var(--accent-color);
}

.customers-list .customers-link:hover .icon,
.customers-list .customers-link:focus .icon {
    fill: var(--accent-color);
}

/* =================== END REGULAR CUSTOMERS =========== */

/* ==================== FOOTER ========================= */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
}

.footer .container {
    display: flex;
    justify-content: based;
}

/* .footer .container:not(:last-child) {
    margin-right: 70px;
} */

.container-join {
    margin-left: 70px;
    padding-top: 12px;
}

.address-contact {
    display: flex;
    flex-direction: column;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contact .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer .color {
    color: var(--primary-white-color);
}


.link.address {
    color: var(--footer-link-color);
}

.link.map-address {
    color: var(--primary-white-color);
}

.address-contact .link:hover,
.address-contact .link:focus {
    color: var(--accent-color);
}

.join.list {
    display: flex;
    flex-wrap: wrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
}

.join .logo-item:not(:last-child) {
    margin-right: 10px;
}

.join.list .icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
}

/* .join .logo-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

/* .our-team .link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
} */

.join.list .join.link:hover,
.join.list .join.link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.join.list .join.link:focus .icon,
.join.list .join.link:focus .icon {
    fill: var(--primary-white-color);
}

.container-join .section-title {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    text-align: left;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.container-form {
    margin-left: 70px;
    padding-top: 12px;
}

.container-form .section-title {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    text-align: left;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.container-input {
    display: flex;
}

.btn-container {
    margin-left: 12px;
}

.btn-container .button.primary {
    position: relative;
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 29px;
    padding-right: 29px;
}



.footer-icon-position {
    position: absolute;
    padding-top: 3px;
    margin-left: 10px;
}

.footer-email {
    width: 358px;
    height: 50px;
    padding: 14px;
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);
}


/* ================== END FOOTER ===================== */

/* ================== FILER-LIST ===================== */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.63;
}

.filter-list .item:not(:last-child) {
    margin-right: 8px;
}

/* ================ END FILTER-LIST ==================== */

/* =================== PROJECT ========================= */


.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.project-list .item {
    width: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.project-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.project-list .container-project {
    padding: 20px 24px;
    padding-top: 20px;

    border: 1px solid #EEEEEE;
    border-top: none;
}

.project.link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project.link:hover,
.project.link:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-list .section-description {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}


.project-link {
    position: relative;
    overflow: hidden;
}

.project-link-descripion {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 294px;
    padding: 0 24px;
    font-size: 18px;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
    transform: translateY(100%);
    transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link .project-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project.link:hover .project-link-descripion,
.project.link:focus .project-link-descripion {
    transform: translateY(0);
}

/* ========================= MODAL =============================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    transition: all 500ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
    fill: var(--accent-color);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal .section-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
}

.modal-form-field:not(:first-child) {
    margin-top: 10px;
}

.modal .icon {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 18px;
    left: 12px;
    fill: var(--title-text-color);
    transform: translateY(-50%);
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input:focus+.icon {
    fill: var(--accent-color);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-term-desc {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-form-term-desc::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term-desc .term {
    text-decoration: underline;
    color: var(--accent-color);
}

.modal-form-term:checked+.modal-form-term-desc::before {
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    border: 0;
}

.modal .button.primary {
    margin: 0 auto;
    width: 200px;
}